<section
  id="about"
  class="flex flex-col justify-evenly items-center gap-y-10 p-4 md:p-0 lg:gap-y-0 lg:p-0"
>
  <h2
    tabindex="0"
    class="text-white text-lg font-poppins md:text-xl lg:text-2xl"
  >
    About
  </h2>
  <div
    class="flex flex-col gap-y-12 items-center w-3/4 md:pt-8 md:flex-row md:justify-center lg:flex-row lg:justify-center md:gap-x-10 lg:pt-8 lg:gap-x-10"
  >
    <div
      class="shadow-md hover:rotate-6 bg-gradient-to-t rounded-2xl from-softPink to-lighttext"
    >
      <img
        height="230px"
        width="230px"
        class="m-auto blur-0 object-scale-down"
        src="/assets/thibault.svg"
        alt="thibault picture"
      />
    </div>
    <div class="relative">
      <div
        class="hidden absolute right-0 top-14 blur-4xl h-40 w-40 rounded-full bg-gradient-to-r from-purpleBackground to-softPink md:block lg:block"
      ></div>
      <p
        tabindex="0"
        class="text-sm leading-5 text-lighttext text-wrap border-opacity-40 md:max-w-[24rem] md:text-base md:leading-6 md:border-b-[1px] md:pb-5 lg:max-w-[35rem] lg:text-base lg:leading-6 lg:border-b-[1px] lg:pb-5"
      >
        I craft engaging websites that merge innovation with user-centered
        design. Beyond coding, I thrive in staying ahead of industry trends
        through continuous learning and collaboration with the developer
        community. Always driven to tackle challenges, I bring a balance of
        technical expertise and a creative mindset to every project.Outside of
        coding, I practice bouldering and play tennis that strengthen my
        perseverance, focus, and teamwork skills.
      </p>
      <div class="flex flex-col gap-5 pt-4">
        @for (item of aboutInfo; track item) {
        <div class="flex gap-2 items-center">
          <img
            width="20px"
            height="20px"
            src="{{ item.img }}"
            alt="{{ item.alt }}"
          />
          <p
            tabindex="0"
            class="text-lighttext text-sm md:text-base lg:text-base"
          >
            {{ item.text }}
          </p>
        </div>
        }
      </div>
    </div>
  </div>
</section>
