<section
  class="flex flex-col justify-evenly items-center gap-y-10 mt-40 p-4 md:p-0 lg:p-0"
>
  <h2 class="text-white text-lg font-poppins md:text-xl lg:text-2xl">About</h2>
  <div
    class="flex flex-col items-center w-3/4 gap-y-4 md:flex-row lg:flex-row md:gap-10 lg:gap-10"
  >
    <img
      class="m-auto max-h-[15rem] max-w-[15rem] d:max-h-60 md:max-w-60 lg:max-w-96 lg:max-h-96"
      src="/assets/about.avif"
      alt="about images"
    />

    <div class="relative">
      <div
        class="hidden absolute right-0 top-14 blur-4xl h-40 w-40 rounded-full bg-gradient-to-r from-purpleBackground to-softPink md:block lg:block"
      ></div>
      <p
        class="text-sm text-lighttext leading-relaxed text-wrap md:max-w-[24rem] md:text-base md:border-b-2 md:pb-5 lg:max-w-[35rem] lg:text-base lg:border-b-2 lg:pb-5"
      >
        I craft engaging websites that merge innovation with user-centered
        design. Beyond coding, I thrive in staying ahead of industry trends
        through continuous learning and collaboration with the developer
        community. Always driven to tackle challenges, I bring a balance of
        technical expertise and a creative mindset to every project.Outside of
        coding, I practice bouldering and play tennis that strengthen my
        perseverance, focus, and teamwork skills.
      </p>
      <div class="flex flex-col gap-5 pt-4">
        <div class="flex gap-2 items-center">
          <img
            class="w-6 h-6"
            src="/icons/mapPoint.svg"
            alt="a localisation icon"
          />
          <p class="text-lighttext">Paris, France</p>
        </div>
        <div class="flex gap-2 items-center">
          <img class="w-6 h-6" src="/icons/phone.svg" alt="a phone icon" />
          <p class="text-lighttext">06.51.51.16.19</p>
        </div>
        <div class="flex gap-2 items-center">
          <img class="w-6 h-6" src="/icons/letter.svg" alt="a phone icon" />
          <p class="text-lighttext"></p>
        </div>
      </div>
    </div>
  </div>
</section>
