<section
  id="about"
  class="flex flex-col justify-evenly items-center gap-y-10 p-4 md:p-0 lg:gap-y-0 lg:p-0"
>
  <h2
    tabindex="0"
    class="text-white text-xl font-poppins md:text-2xl lg:text-3xl"
  >
    A propos
  </h2>
  <div
    class="flex flex-col gap-y-12 items-center w-3/4 md:w-full md:pt-8 md:flex-row md:justify-center lg:flex-row lg:justify-center md:gap-x-10 lg:pt-8 lg:gap-x-24"
  >
    <div
      class="shadow-md hover:rotate-6 bg-gradient-to-t rounded-2xl from-softPink to-lighttext"
    >
      <img
        height="200px"
        width="200px"
        class="m-auto object-fill rounded-2xl md:hidden lg:hidden"
        src="/assets/thibault.svg"
        alt="thibault picture"
      />
      <img
        height="250px"
        width="250px"
        class="m-auto object-fill rounded-2xl hidden md:block lg:block"
        src="/assets/thibault.svg"
        alt="thibault picture"
      />
    </div>
    <div class="relative">
      <div
        class="hidden absolute right-0 top-14 blur-4xl h-40 w-40 rounded-full bg-gradient-to-r from-purpleBackground to-softPink md:block lg:block"
      ></div>
      <p
        tabindex="0"
        class="text-sm leading-5 text-lighttext text-wrap border-opacity-40 md:max-w-[24rem] md:text-base md:leading-6 md:border-b-[1px] md:pb-5 lg:max-w-[35rem] lg:text-base lg:leading-6 lg:border-b-[1px] lg:pb-5"
      >
        Je crée des sites web captivants qui allient innovation et design centré
        sur l'utilisateur. Au-delà du code, je m'épanouis en restant à la pointe
        des tendances du secteur grâce à un apprentissage continu et à la
        collaboration avec la communauté des développeurs. Toujours motivé à
        relever des défis, j'apporte un équilibre entre expertise technique et
        créativité à chaque projet. En dehors du code, je pratique l'escalade de
        bloc et le tennis, des activités qui renforcent ma persévérance, ma
        concentration et mes compétences en travail d'équipe.
      </p>
      <div class="flex flex-col gap-5 pt-4">
        @for (item of aboutInfo; track item) {
        <div class="flex gap-2 items-center">
          <img
            width="20px"
            height="20px"
            src="{{ item.img }}"
            alt="{{ item.alt }}"
          />
          <p
            tabindex="0"
            class="text-lighttext text-sm md:text-base lg:text-base"
          >
            {{ item.text }}
          </p>
        </div>
        }
      </div>
    </div>
  </div>
</section>
