<div class="flex justify-center w-3/4 mx-auto py-8 mt-20">
  @if (loadError) {
  <p class="text-white text-center" i18n>Aucun contenu trouvé</p>
  } @else if (!this.markdownSrc) {
  <p class="text-white text-center" i18n>Aucun contenu trouvé</p>
  } @else {
  <div
    class="prose max-w-[100%] prose-md prose-slate dark:prose-invert "
  >
    <a
      [routerLink]="['/']"
      class="text-white text-md flex items-center gap-x-2 group hover:text-softPink"
    >
      <svg
        class="-rotate-[90deg] w-6 h-6 text-white group-hover:text-softPink"
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 48 48"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="4"
          d="M24 6v36M12 18L24 6l12 12"
        />
      </svg>
    </a>
    <markdown
      [src]="this.markdownSrc"
      (load)="onLoad($event)"
      (error)="onError($event)"
    ></markdown>
  </div>
  }
</div>
