<section id="home" class="flex flex-col justify-center">
  <div
    class="hidden absolute right-20 top-32 h-40 w-40 rounded-full blur-4xl bg-gradient-to-r from-purpleBackground to-softPink md:block lg:block"
  ></div>
  <div class="flex flex-col items-center justify-center bg-darkBackground">
    <div class="flex p-4 justify-evenly md:gap-10 lg:gap-20">
      <div
        class="flex flex-col gap-4 justify-evenly items-center md:gap-10 md:justify-center md:items-start lg:gap-10 lg:justify-center lg:items-start"
      >
        <div
          class="flex flex-col justify-center items-center md:items-start lg:items-start lg:justify-center"
        >
          <h1 tabindex="0" class="text-white text-lg font-poppins lg:text-2xl">
            Hello, I'm Thibault Beaumont
          </h1>
          <h2
            tabindex="0"
            class="text-3xl font-roboto bg-gradient-to-r from-primary to-accent inline-block bg-clip-text text-transparent lg:text-4xl"
          >
            I'm a web developer
          </h2>
          <p
            class="mt-4 text-center text-sm text-lighttext font-roboto text-wrap w-[300px] md:text-left lg:text-left md:w-[420px] lg:text-base"
          >
            I build intuitive and engaging websites, leveraging the latest
            technologies to bring ideas to life.
          </p>
        </div>
        <div class="relative">
          <img
            alt="hero arrow icon"
            class="hidden max-w-72 max-h-72 absolute -bottom-40 left-16 md:block lg:block"
            src="/icons/heroArrowIcon.svg"
          />
        </div>
        <div class="flex flex-col justify-center items-center">
          <img
            width="200px"
            height="200px"
            src="/assets/rocket.svg"
            alt="rocket"
            class="lg:hidden md:hidden"
          />
        </div>
        <div class="flex flex-col">
          <div
            class="flex justify-center gap-2 md:justify-start lg:justify-start"
          >
            <a
              href="/assets/cv/cv_BEAUMONT_Thibault.pdf"
              download="cv_BEAUMONT_Thibault.pdf"
              class="z-10 text-center text-white w-30 text-sm p-2 border-2 font-roboto border-white shadow-md shadow-neutral-400 rounded-md md:w-40 lg:w-40 hover:bg-white hover:text-primary hover:font-bold"
              onclick=""
            >
              Download my CV
            </a>
            <div
              class="hidden absolute left-10 h-40 w-40 rounded-full blur-4xl bg-gradient-to-r from-purpleBackground to-softPink md:block lg:block"
            ></div>
            <a
              href="mailto:tbeaumont79@icloud.com"
              class="text-white text-center z-10 w-30 font-roboto text-sm p-2 ml-2 border-2 border-white shadow-md shadow-neutral-400 rounded-md md:w-40 lg:w-40 hover:bg-white hover:text-primary hover:font-bold"
              onclick=""
            >
              Hire Me
            </a>
          </div>
          <div
            class="flex gap-4 mt-10 justify-center items-center md:justify-start lg:justify-start max-w-48"
          >
            @for (item of socialLinks; track item ) {
            <a class="rounded-full bg-darkGray p-3" href="{{ item.link }}"
              ><img
                width="18px"
                height="18px"
                alt="{{ item.alt }}"
                src="{{ item.img }}"
            /></a>
            }
          </div>
        </div>
      </div>

      <div class="hidden md:flex lg:flex flex-col justify-center items-center">
        <img
          src="/assets/rocket.svg"
          alt="rocket"
          width="300px"
          height="300px"
          class="hidden md:hidden lg:block"
        />
        <img
          src="/assets/rocket.svg"
          alt="rocket"
          width="200px"
          height="200px"
          class="hidden md:bloc lg:hidden"
        />
      </div>
    </div>
  </div>
</section>
