<section class="flex flex-col justify-center h-screen">
  @if (isOpen) {
  <div class="fixed h-screen inset-0 bg-darkBackground">
    <button class="text-white absolute right-5 top-5" (click)="toggle()">
      <img src="/icons/closeIcon.svg" height="20px" width="20px" />
    </button>
    <nav class="flex h-screen flex-col items-center justify-center">
      <a href="#" class="mb-4 text-lg text-lighttext">Home</a>
      <a href="#" class="mb-4 text-lg text-lighttext">About</a>
      <a href="#" class="mb-4 text-lg text-lighttext">Projects</a>
      <a href="#" class="text-lg text-lighttext">Contact</a>
    </nav>
  </div>
  } @else {
  <div class="hidden md:block lg:block sticky inset-0 z-10">
    <div
      class="w-full h-20 backdrop-filter backdrop-blur-[5px] bg-opacity-50 z-50"
    >
      <nav class="top-0 flex gap-6 w-full h-20 justify-end items-center pr-10">
        <a
          href="#"
          class="p-2 text-lighttext w-20 text-center hover:text-primary hover:bg-white hover:font-bold rounded-lg"
          >Home</a
        >
        <a
          href="#"
          class="p-2 text-lighttext w-20 text-center hover:text-primary hover:bg-white hover:font-bold rounded-lg"
          >About</a
        >
        <a
          href="#"
          class="p-2 text-lighttext w-20 text-center hover:text-primary hover:bg-white hover:font-bold rounded-lg"
          >Projects</a
        >
        <a
          href="#"
          class="p-2 text-lighttext w-20 text-center hover:text-primary hover:bg-white hover:font-bold rounded-lg"
          >Contact</a
        >
      </nav>
    </div>
  </div>
  <div
    class="hidden absolute right-20 top-32 h-40 w-40 rounded-full blur-4xl bg-gradient-to-r from-purpleBackground to-softPink md:block lg:block"
  ></div>
  <div
    class="h-screen flex flex-col items-center justify-center bg-darkBackground"
  >
    <div class="flex p-4 justify-evenly md:gap-10 lg:gap-20">
      <div
        class="h-screen flex flex-col gap-10 justify-evenly md:justify-center lg:justify-center"
      >
        <div
          class="flex flex-col justify-center items-start md:justify-center lg:justify-center"
        >
          <h1 tabindex="0" class="text-white text-lg font-poppins lg:text-2xl">
            Hello, I'm Thibault Beaumont
          </h1>
          <h2
            tabindex="0"
            class="text-2xl font-roboto bg-gradient-to-r from-primary to-accent inline-block bg-clip-text text-transparent lg:text-4xl"
          >
            I'm a web developer
          </h2>
          <p
            class="mt-4 text-sm text-lighttext text-wrap lg:max-w-[35rem] md:max-w-[24rem]"
          >
            I like to create beautiful website, with a good user experience. I
            work on projects with recent technologies.
          </p>
        </div>
        <div class="relative">
          <img
            class="hidden max-w-72 max-h-72 absolute -bottom-40 left-16 md:block lg:block"
            src="/icons/heroArrowIcon.svg"
          />
        </div>
        <div class="flex flex-col justify-center items-center">
          <img
            src="/assets/rocket.svg"
            alt="rocket"
            class="max-h-[15rem] max-w-[15rem] lg:hidden md:hidden"
          />
        </div>
        <div class="flex flex-col">
          <div
            class="flex justify-center gap-2 md:justify-start lg:justify-start"
          >
            <button
              class="z-[1] text-white w-30 text-sm p-2 border-2 border-white shadow-md shadow-neutral-400 rounded-md md:w-40 lg:w-40 hover:bg-white hover:text-primary hover:font-bold"
              onclick=""
            >
              Download my CV
            </button>
            <div
              class="hidden absolute left-10 h-40 w-40 rounded-full blur-4xl bg-gradient-to-r from-purpleBackground to-softPink md:block lg:block"
            ></div>
            <button
              class="z-[1] text-white w-30 text-sm p-2 ml-2 border-2 border-white shadow-md shadow-neutral-400 rounded-md md:w-40 lg:w-40 hover:bg-white hover:text-primary hover:font-bold"
              onclick=""
            >
              Hire Me
            </button>
          </div>
          <div class="flex gap-4 mt-8 justify-evenly max-w-48">
            @for (item of socialLinks; track item ) {
            <a class="rounded-full bg-slate-600 p-3" href="{{ item.link }}"
              ><img class="h-5 w-5" src="{{ item.img }}"
            /></a>
            }
          </div>
        </div>
      </div>

      <div
        class="hidden h-screen md:flex lg:flex flex-col justify-center items-center"
      >
        <img
          src="/assets/rocket.svg"
          alt="rocket"
          class="hidden md:block lg:block md:max-h-60 md:max-w-60 lg:max-w-96 lg:max-h-96"
        />
      </div>
      <div class="fixed inset-0 md:hidden lg:hidden">
        <button class="text-white absolute right-5 top-5" (click)="toggle()">
          <img src="/icons/burgerIcon.svg" height="20px" width="20px" />
        </button>
      </div>
    </div>
  </div>
  }
</section>
