<section id="projects" class="flex flex-col items-center gap-y-10">
  <h2
    tabindex="0"
    class="text-white text-lg font-poppins md:text-xl lg:text-2xl text-center"
  >
    Projects
  </h2>
  <div
    class="w-3/4 pt-4 flex flex-wrap gap-6 justify-center gap-y-10 md:w-full lg:w-[1000px] lg:gap-8"
  >
    @for(item of filteredRepo; track item) {
    <a
      class="p-4 border-[1px] relative h-72 border-lighttext border-opacity-40 rounded-md z-[1] hover:border-softPink w-[300px] md:w-[325px] lg:w-[450px]"
      href="{{ item.html_url }}"
      target="_blank"
    >
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-y-2">
          <h3 class="text-white text-lg font-poppins md:text-xl lg:text-2xl">
            {{ item.name }}
          </h3>
          <div class="flex gap-2 items-center">
            <div class="flex gap-1">
              <img
                width="20px"
                height="20px"
                src="/icons/star.svg"
                alt="a star icon"
              />
              <p class="text-lighttext text-sm">
                {{ item["stargazers_count"] }}
              </p>
            </div>
            <div class="flex gap-1">
              <img
                width="20px"
                height="20px"
                src="/icons/clock.svg"
                alt="a clock icon"
              />
              <p class="text-lighttext text-[12px] md:text-sm lg:text-sm">
                {{ item["created_at"] | date : "mediumDate" }}
              </p>
            </div>
          </div>
        </div>

        <p
          class="text-sm mt-4 text-lighttext text-wrap line-clamp-4 leading-6 font-roboto md:text-base lg:text-base"
        >
          {{
            item.description === null
              ? "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum"
              : item.description
          }}
        </p>
        @if (item.topics.length > 0) {
        <div class="absolute bottom-4 flex flex-wrap gap-2">
          @for (topic of item.topics; track topic) {
          <p
            class="text-sm pl-2 pr-2 max-w-max text-lighttext border-[1px] border-darkGray bg-darkGray rounded-lg"
          >
            {{ topic }}
          </p>
          }
        </div>
        }
      </div>
    </a>
    }
  </div>
</section>
